.section-heading {
    display: flex;
    justify-content: center;
}

.table-container{
    box-shadow: 2px 2px 10px #e68a8a4d;
    margin: 5px;
    margin-top: 20px;
}
.table-head{
    
    background-color: beige;
}

.table-item{
    font-weight: bolder;
}